<div>
  <h1>Users</h1>

  <div flex-container="row" flex-gutter="24">

          <div flex-item>
             <div class="card">
                 <div class="toolbar">
                     <lx-search-filter>
                         <input type="text" ng-model="users.name">
                     </lx-search-filter>
                 </div>
             </div>
         </div>
      </div>

<a href='/user'>New User</a>

<div class="p+" flex-container="row" flex-gutter="24" flex-wrap>

  <div flex-item="6">

          <li class="list-row" ng-repeat="usuario in users.users | filter : {name: users.name}">


                <div class="list-row__content">
                    <span class="display-block">{{ usuario.name }}</span>
                    <span class="display-block fs-body-1 tc-black-2">{{ usuario.username }}</span>
                    <a href="/user?id={{usuario._id}}">Edit</a>
                    <a href="#" ng-click="users.delete(usuario._id)">Delete</a>
                </div>


            </li>



</div>
</div>
</div>
